<div class="container">
  <hgroup>
    <h1>Welcome To CV Bank</h1>
    <p>Leave the old clunky method of creating your CV on a word document</p>
    <p>Now harness the ability to create an online CV with minimal steps</p>
  </hgroup>

  <div class="container">
    <h4>If you already have an account then please</h4>
    <button style="width: 10%" (click)="onClickLogin()" id="login-homepage">Log In</button>
    <h4>
      If you are new on the platform and dont have an existing account then
      please
    </h4>
    <button style="width: 10%" (click)="onClickSignup()">Sign Up</button>
  </div>
</div>
