<article style="background-color: #e9eef2">
  <div class="search">
    <input class="search-bar" type="text" placeholder="Search..." />
    <button class="search-btn">Search</button>
  </div>

  <div class="grid">
    <label
      >Area of Interest
      <select style="background-color: white; border: 0px">
        <option>Select</option>
      </select>
    </label>

    <label
      >Min Education
      <select style="background-color: white; border: 0px">
        <option>Select</option>
      </select>
    </label>

    <label
      >GCSE Number
      <select style="background-color: white; border: 0px">
        <option>Select</option>
      </select>
    </label>

    <label
      >Skill
      <select style="background-color: white; border: 0px">
        <option>Select</option>
      </select>
    </label>
  </div>

  <div class="grid">
    <label
      >Experience
      <select style="background-color: white; border: 0px">
        <option>Select</option>
      </select>
    </label>

    <label
      >Education Field
      <input style="background-color: white; border: 0px" type="text" />
    </label>

    <label
      >Job Sector
      <input style="background-color: white; border: 0px" type="text" />
    </label>
  </div>
</article>

<div>
  <article>
    <b>Candidate Name</b>
    <div class="grid">
        <p>Qualificaton</p>
        <p>Experience</p>
        <p>GCSE number</p>
    </div>
  </article>
</div>
