<article>
  <h1>Signup</h1>
  <article>
    <form [formGroup]="signupForm">
      <div class="grid">
        <label
          >Username
          <input type="text" formControlName="username" id="username" />
        </label>
        <label
          >Email
          <input type="email" formControlName="email" id="email" />
        </label>
      </div>
        <label
          >Password
          <input type="password" formControlName="password" id="password" />
        </label>
      <button type="submit" (click)="onSubmit()">SignUp</button>
    </form>
  </article>
</article>
